.main-banner-carousel {
  max-width: 1300px;

  &__window {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__leftArrow {
    position: absolute;
    cursor: pointer;
    top: 253px;
    left: 24px;
    z-index: 4;

    @media screen and (max-width: 1140px) {
      top: 176px
    }

    @media screen and (max-width: 802px) {
      top: 240px
    }

  }

  &__rightArrow {
    position: absolute;
    cursor: pointer;
    right: 24px;
    top: 253px;

    @media screen and (max-width: 1140px) {
      top: 176px
    }

    @media screen and (max-width: 802px) {
      top: 240px
    }
  }

  &__dots {
    display: flex;
    position: absolute;
    bottom: 24px;
    left: 50%;

    @media screen and (max-width: 802px) {
      left: 46%;
    }

  }

  &__dot {
    margin-right: 8px;
    border: 1px solid #303030;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    transition: background .3s ease-out;
  }

    &__dot:last-of-type {
    margin: 0;
  }

  &__dot_active {
    background: #303030;
  }

  &__all-items-container {
    transition: transform .5s ease-out;
    height: 100%;
    display: flex;
  }
}
