.product-day {
  max-width: 1300px;
  margin: 0 auto 120px;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: 'Prata', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #303030;
  }
}
