.sales {
  max-width: 1300px;
  margin: 0 auto 10px;
  position: relative;

  @media screen and (max-width: 1300px) {
    max-width: 1000px;
    padding: 0 10px 0;
  }

  @media screen and (max-width: 1000px) {
    max-width: 638px;
  }

  @media screen and (max-width: 700px) {
    max-width: 355px;
    padding: 0 55px;
  }

  @media screen and (max-width: 450px) {
    max-width: 320px;
    padding: 0 32px;
  }

  &__title {
    margin: 0 0 10px 0;
    font-family: 'Prata',Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
  }
  &__top {
    max-width: 1300px;
    display: flex;
    align-items: flex-start;
  }

  &__navigate {
    display: flex;
    padding: 14px 0 0 0;
    margin: 0 0 36px 0;
  }

  &__buttons {
    list-style: none;
    margin-right: 8px;
  }

  &__buttons:last-of-type {
    margin-right: 0;
  }

  &__button {
    padding: 13px 30px;
    font-family: 'Inter',Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    background: #F0F0F0;
    border-radius: 21px;
    border: none;

    @media screen and (max-width: 700px) {
      padding: 13px 19px;
      font-size: 10px;
    }

    @media screen and (max-width: 450px) {
      padding: 6px 12px;
    }
  }
}
